
p {
    text-align: center;
    font-size: 4em;
    margin: 20px 0 20px 0;
    
  }
  a {
    text-decoration: none;
    transition: all 0.5s;
  }
p>a {
    color: #fff;
    font-family: Monoton;
    text-shadow: 0 0 10px #fff, 0 0 20px #FF1177, 0 0 40px #FF1177, 0 0 60px #FF1177, 0 0 80px #FF1177 ,0 0 100px #FF1177;

  }
  
p>a:hover {
    color: #FF1177;
    animation: none;
  }
