
body {
    background-color: #222222;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
  }
.white{
  color: white;
}

#container {
    width: 700px;
    margin: auto;
  }

/**************************title*******************************/
#title>p {
    text-align: center;
    font-size: 4em;
    margin: 20px 0 20px 0;
    transition: all 0.5s;
    color: #fff;
    font-family: Monoton;
    text-shadow: 0 0 10px #fff, 0 0 20px #FF1177, 0 0 40px #FF1177, 0 0 60px #FF1177, 0 0 80px #FF1177 ,0 0 100px #FF1177;
  
  }
#title p:hover {
    color: #FF1177;
    animation: none;
    transition: all 0.5s;
  }

/*******************************Count*****************************/

#count {
  text-align: center;
  font-size: 3em;
  background-color: transparent;
  border: none;
  color: #fff;
  font-family: teko-regular;
  text-shadow: 0 0 10px #fff, 0 0 20px #2BADD4, 0 0 40px #2BADD4, 0 0 60px #2BADD4, 0 0 80px #2BADD4,0 0 100px #2BADD4;
   
}
.center {
  text-align: center;
}


/*******************************vinyl****************************/
#vinyl{
  display: block;
   margin-left: auto;
  margin-right: auto; 
  width: 350px;
  height: 350px;
  cursor: pointer;
}

/******************************multiplicateur*************************/

#multiplier {
  display: inline-block;
  font-family: teko-regular;
  font-size: 30px;
  font-weight: 200;
  width: 100px;
  text-align: center;
  color: #fff;
  border: 4px solid #fff;
  padding: 15px;
  border-radius: 30px;
  cursor : pointer;
  text-transform: uppercase;
  animation: flickerBlue 1.5s infinite alternate;     
}

#autoClick{
  display: inline-block;
  font-family: teko-regular;
  font-size: 30px;
  font-weight: 200;
  width: 150px;
  margin-left: 120px;
  text-align: center;
  color: #fff;
  border: 4px solid #fff;
  padding: 15px;
  cursor : pointer;
  border-radius: 30px;
  text-transform: uppercase;
  animation: flickerPurple 1.5s infinite alternate;     
}

/* Animate neon flicker */
@keyframes flickerBlue {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow: 0 0 10px #fff,0 0 20px #f40, 0 0 40px #f40, 0 0 60px #f40;
        box-shadow: 0 0 10px #fff, inset 0 0 10px #fff, 0 0 20px #08f, inset 0 0 20px #08f, 0 0 40px #08f, inset 0 0 40px #08f, 0 0 60px #08f;
       
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}
@keyframes flickerPurple {
    
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    
      text-shadow: 0 0 10px #fff,0 0 20px #f40, 0 0 40px #f40, 0 0 60px #f40;
      box-shadow: 0 0 10px #fff, inset 0 0 10px #fff, 0 0 20px #A915F2, inset 0 0 20px #A915F2, 0 0 40px #A915F2, inset 0 0 40px #A915F2, 0 0 60px #A915F2;
     
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
      box-shadow: none;
  }    
}
@keyframes flickerGreen {
    
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    
      text-shadow: 0 0 10px #fff,0 0 20px #f40, 0 0 40px #f40, 0 0 60px #f40;
      box-shadow: 0 0 10px #fff, inset 0 0 10px #fff, 0 0 20px #3FF215, inset 0 0 20px #3FF215, 0 0 40px #3FF215, inset 0 0 40px #3FF215, 0 0 60px #3FF215;
     
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
      box-shadow: none;
  }    
}


/********RESPONSIVE*****/

  @media (max-width: 650px) {
    #container {
      width: 100%;
    }
    p {
      font-size: 3.5em;
    }
  }